.ql-toolbar.ql-snow {
  border: none;
  background-color: rgb(243, 244, 244);
}

.ql-container.ql-snow {
  border:none;
}

.quill {
  border: 1px solid rgb(243, 244, 244);
}
.bordered .quill {
  border: 1px solid rgb(255, 32, 60) !important;
}
.ql-editor {
  height: 500px;
}

/* Custom Font-size Toolbar */
.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before {
  content: '14px'
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before {
  content: '16px'
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before {
  content: '18px'
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: '18px';
    font-size: 18px !important;
}
